<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!--Dependent class  -->
    <bean id="dtdc" class="com.nt.comp.DTDCcourier"/>
    <bean id="bdart" class="com.nt.comp.BlueDartCourier"/>
    <bean id="dhl" class="com.nt.comp.DHLcourier"/>
    
    <!--Target Class  -->
    <bean id="fpkt" class="com.nt.comp.Flipkart">
    <property name="courier" ref="bdart"/>
    </bean>
   
    </beans>